<div class="py-12 md:py-0 my-5 md:pl-[4.5rem] w-full">
  <div class="flex flex-wrap mx-auto">
    <div class="p-2 w-full">
      <div
        class="h-fit flex justify-center flex-wrap bg-white px-8 py-4 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <h1 class="font-coolvetica font-[500] text-3xl">
          Trucking From Sukabumi
        </h1>
      </div>
    </div>
    <div class="grow p-2 lg:w-5/12">
      <div
        class="h-full flex justify-center flex-wrap bg-white px-5 py-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div id="chart" class="w-full">
          <apx-chart
            [series]="trackingFromChart.series"
            [chart]="trackingFromChart.chart"
            [dataLabels]="trackingFromChart.dataLabels"
            [plotOptions]="trackingFromChart.plotOptions"
            [xaxis]="trackingFromChart.xaxis"
            [yaxis]="trackingFromChart.yaxis"
            [stroke]="trackingFromChart.stroke"
            [responsive]="trackingFromChart.responsive"
          ></apx-chart>
        </div>
      </div>
    </div>

    <!-- <div class="max-lg:grow p-2 lg:w-7/12">
            <div
              class="h-full bg-white px-8 pt-10 pb-10 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
            >
              <div id="chart">
                <apx-chart
                  [series]="columnChart.series"
                  [chart]="columnChart.chart"
                  [dataLabels]="columnChart.dataLabels"
                  [plotOptions]="columnChart.plotOptions"
                  [yaxis]="columnChart.yaxis"
                  [xaxis]="columnChart.xaxis"
                  [fill]="columnChart.fill"
                  [title]="columnChart.title"
                ></apx-chart>
              </div>
            </div>
          </div> -->
    <!-- <div class="p-4 lg:w-1/3">
              <div
                class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative"
              ></div>
            </div> -->
  </div>
</div>
