<ngx-spinner
  color="white"
  type="square-jelly-box"
  [fullScreen]="true"
  size="medium"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="py-12 md:py-0 my-2 md:pl-[4.5rem] w-full">
  <div class="flex flex-wrap mx-auto">
    <div class="px-2 w-full">
      <div
        class="h-fit flex justify-between flex-wrap bg-white px-8 py-2 text-center rounded-lg overflow-hidden relative drop-shadow-xl"
      >
        <span class="flex items-center justify-start w-1/3">
          <h1 class="font-quicksand font-semibold text-lg text-sky-900">
            {{ time | date : "fullDate" }}
          </h1>
        </span>

        <h1 class="font-manrope font-[700] text-3xl w-1/3">
          Warehouse Occupancy
        </h1>
        <span class="flex items-center justify-end w-1/3">
          <h1 class="font-quicksand font-semibold text-lg text-sky-900">
            {{ time | date : "mediumTime" }}
          </h1></span
        >
      </div>
    </div>
    <div class="p-2 grow lg:w-6/12">
      <div
        class="h-full bg-white px-8 py-5 -space-y-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div class="relative overflow-x-auto rounded-lg shadow-md">
          <table class="w-full text-sm text-left text-gray-800 font-normal">
            <thead class="text-xs uppercase bg-slate-400 text-white">
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Capacity</th>
                <th scope="col" class="px-3 py-2 text-center">Occupancy</th>
                <th scope="col" class="px-3 py-2 text-center">
                  Empty <br />
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-gray-700 text-slate-600 font-semibold text-sm"
              >
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.capacity_kjy.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.usage_kjy.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.remain_kjy.toLocaleString() }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="occupancyApex" class="h-[200px]" style="text-align: center">
          <apx-chart
            class=""
            [series]="occupancyApex?.seriesKjy"
            [chart]="occupancyApex?.chart"
            [plotOptions]="occupancyApex?.plotOptions"
            [labels]="occupancyApex?.labels"
            [fill]="occupancyApex?.fill"
            [title]="occupancyApex?.titleKejayan"
            [grid]="occupancyApex?.grid"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="p-2 grow lg:w-6/12">
      <div
        class="h-full bg-white px-8 py-5 -space-y-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div class="relative overflow-x-auto rounded-lg shadow-md">
          <table class="w-full text-sm text-left text-gray-800 font-normal">
            <thead class="text-xs uppercase bg-slate-400 text-white">
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Capacity</th>
                <th scope="col" class="px-3 py-2 text-center">Occupancy</th>
                <th scope="col" class="px-3 py-2 text-center">
                  Empty <br />
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-gray-700 text-slate-600 font-semibold text-sm"
              >
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.capacity_skb.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.usage_skb.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.remain_skb.toLocaleString() }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="occupancyApex" class="h-[200px]" style="text-align: center">
          <apx-chart
            class=""
            [series]="occupancyApex?.seriesSkb"
            [chart]="occupancyApex?.chart"
            [plotOptions]="occupancyApex?.plotOptions"
            [labels]="occupancyApex?.labels"
            [fill]="occupancyApex?.fill"
            [title]="occupancyApex?.titleSukabumi"
            [grid]="occupancyApex?.grid"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="p-2 grow lg:w-4/12">
      <div
        class="h-full bg-white px-8 py-5 -space-y-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div class="relative overflow-x-auto rounded-lg shadow-md">
          <table class="w-full text-sm text-left text-gray-800 font-normal">
            <thead class="text-xs uppercase bg-slate-400 text-white">
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Capacity</th>
                <th scope="col" class="px-3 py-2 text-center">Occupancy</th>
                <th scope="col" class="px-3 py-2 text-center">
                  Empty <br />
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-gray-700 text-slate-600 font-semibold text-sm"
              >
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.capacity_bekasi.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.usage_bekasi.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.remain_bekasi.toLocaleString() }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="occupancyApex" class="h-[200px]" style="text-align: center">
          <apx-chart
            [series]="occupancyApex?.seriesBks"
            [chart]="occupancyApex?.chart"
            [plotOptions]="occupancyApex?.plotOptions"
            [labels]="occupancyApex?.labels"
            [fill]="occupancyApex?.fills"
            [title]="occupancyApex?.titleBekasi"
            [grid]="occupancyApex?.grid"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="p-2 grow lg:w-4/12">
      <div
        class="h-full bg-white px-8 py-5 -space-y-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div class="relative overflow-x-auto rounded-lg shadow-md">
          <table class="w-full text-sm text-left text-gray-800 font-normal">
            <thead class="text-xs uppercase bg-slate-400 text-white">
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Capacity</th>
                <th scope="col" class="px-3 py-2 text-center">Occupancy</th>
                <th scope="col" class="px-3 py-2 text-center">
                  Empty <br />
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-gray-700 text-slate-600 font-semibold text-sm"
              >
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.capacity_ps_rebo.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.usage_ps_rebo.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.remain_ps_rebo.toLocaleString() }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="occupancyApex" class="h-[200px]" style="text-align: center">
          <apx-chart
            [series]="occupancyApex?.seriesPr"
            [chart]="occupancyApex?.chart"
            [plotOptions]="occupancyApex?.plotOptions"
            [labels]="occupancyApex?.labels"
            [fill]="occupancyApex?.fills"
            [title]="occupancyApex?.titlePasarRebo"
            [grid]="occupancyApex?.grid"
          ></apx-chart>
        </div>
      </div>
    </div>
    <!-- <div class="p-2 grow lg:w-4/12">
      <div
        class="h-full bg-white px-8 py-5 -space-y-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div class="relative overflow-x-auto rounded-lg shadow-md">
          <table
            class="w-full text-sm text-left  text-gray-800 font-normal"
          >
            <thead
              class="text-xs  uppercase bg-gray-50  text-gray-900"
            >
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Capacity</th>
                <th scope="col" class="px-3 py-2 text-center">Occupancy</th>
                <th scope="col" class="px-3 py-2 text-center">
                  Empty <br> Location
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-gray-700 text-slate-600 font-semibold text-sm">
                <td class="px-3 py-2 text-center">2,523</td>
                <td class="px-3 py-2 text-center">1,423</td>
                <td class="px-3 py-2 text-center">423</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="occupancyApex" class="h-[200px]" style="text-align: center">
          <apx-chart
            [series]="occupancyApex?.series"
            [chart]="occupancyApex?.chart"
            [plotOptions]="occupancyApex?.plotOptions"
            [labels]="occupancyApex?.labels"
            [fill]="occupancyApex?.fil"
            [title]="occupancyApex?.titleMargomulyo"
            [grid]="occupancyApex?.grid"
          ></apx-chart>
        </div>
      </div>
    </div> -->
    <div class="p-2 grow lg:w-4/12">
      <div
        class="h-full bg-white px-8 py-5 -space-y-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div class="relative overflow-x-auto rounded-lg shadow-md">
          <table class="w-full text-sm text-left text-gray-800 font-normal">
            <thead class="text-xs uppercase bg-slate-400 text-white">
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Capacity</th>
                <th scope="col" class="px-3 py-2 text-center">Occupancy</th>
                <th scope="col" class="px-3 py-2 text-center">
                  Empty <br />
                  Location
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white border-gray-700 text-slate-600 font-semibold text-sm"
              >
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.capacity_external.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.usage_external.toLocaleString() }}
                </td>
                <td class="px-3 py-2 text-center">
                  {{ whsOccu?.remain_external.toLocaleString() }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div *ngIf="occupancyApex" class="h-[200px]" style="text-align: center">
          <apx-chart
            [series]="occupancyApex?.seriesYch"
            [chart]="occupancyApex?.chart"
            [plotOptions]="occupancyApex?.plotOptions"
            [labels]="occupancyApex?.labels"
            [fill]="occupancyApex?.fills"
            [title]="occupancyApex?.titleCikarang"
            [grid]="occupancyApex?.grid"
          ></apx-chart>
        </div>
      </div>
    </div>
    <!-- <div class="max-lg:grow p-2 lg:w-4/12">
      <div
        class="h-full bg-white px-8 pt-10 pb-10 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      ></div>
    </div> -->
  </div>
</div>
