<ngx-spinner
  color="white"
  type="square-jelly-box"
  [fullScreen]="true"
  size="medium"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="py-12 md:py-0 my-2 md:pl-[4.5rem] w-full">
  <div class="flex flex-wrap mx-auto">
    <div class="px-2 w-full">
      <div
        class="h-fit flex justify-between flex-wrap bg-white px-2 md:px-8 py-2 text-center rounded-lg overflow-hidden relative drop-shadow-xl"
      >
        <span class="flex items-center justify-start w-1/3">
          <h1
            class="font-quicksand font-semibold max-sm:px-3 text-sm md:text-lg text-sky-900"
          >
            {{ time | date : "fullDate" }}
          </h1>
        </span>

        <h1 class="font-manrope font-[700] text-lg md:text-3xl w-1/3">
          Budget Actual Factory
        </h1>
        <span class="flex items-center justify-end w-1/3">
          <h1
            class="font-quicksand font-semibold text-sm md:text-lg text-sky-900"
          >
            {{ time | date : "mediumTime" }}
          </h1></span
        >
      </div>
    </div>
    <div class="grow pl-1 pt-1 w-full xl:w-7/12 flex flex-wrap">
      <div class="grow p-1 w-full">
        <div
          class="h-full flex justify-center flex-wrap bg-white px-5 py-2.5 space-y-2.5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
        >
          <!-- <div class="px-5 w-full flex flex-wrap justify-between items-center">
            <h1 class="text-lg w-fit font-manrope font-[700] text-start h-fit">
              Occupancy Soyjoy
            </h1>
          </div> -->
          <div class="w-full grid grid-cols-4 gap-2 rounded-lg">
            <!-- <div
            *ngFor="let item of budgetSummary;index as i"
              class="flex flex-col items-center justify-center py-2.5 px-1 rounded-lg {{colorsBudget[i]}}"
            >
              <div
                class="text-xl sm:text-2xl font-semibold leading-none tracking-tight"
              >
                {{item.value}}
              </div>
              <div class="text-xs sm:text-sm font-semibold font-manrope">
                {{item.name}}
              </div>
            </div> -->
            <div
              class="flex flex-col items-center justify-center py-2.5 px-1 rounded-lg bg-sky-50 text-sky-900"
            >
              <div
                class="text-xl sm:text-2xl font-semibold leading-none tracking-tight"
              >
                {{ currencyRounded(budgetSummary[0]?.value) }}
              </div>
              <div class="text-xs sm:text-sm font-semibold font-manrope">
                {{ budgetSummary[0]?.name }} {{ budgetSummary[0]?.month }}
              </div>
            </div>
            <div
              class="flex flex-col items-center justify-center py-2.5 px-1 rounded-lg bg-emerald-50 text-emerald-900"
            >
              <div
                class="text-xl sm:text-2xl font-semibold leading-none tracking-tight"
              >
                {{ currencyRounded(budgetSummary[1]?.value) }}
              </div>
              <div class="text-xs sm:text-sm font-semibold font-manrope">
                {{ budgetSummary[1]?.name }} {{ budgetSummary[1]?.month }}
              </div>
            </div>
            <div
              class="flex flex-col items-center justify-center py-2.5 px-1 rounded-lg bg-amber-50 text-amber-900"
            >
              <div
                class="text-xl sm:text-2xl font-semibold leading-none tracking-tight"
              >
                {{ budgetSummary[2]?.value }}%
              </div>
              <div class="text-xs sm:text-sm font-semibold font-manrope">
                {{ budgetSummary[2]?.name }}
              </div>
            </div>
            <div
              class="flex flex-col items-center justify-center py-2.5 px-1 rounded-lg bg-fuchsia-50 text-fuchsia-900"
            >
              <div
                class="text-xl sm:text-2xl font-semibold leading-none tracking-tight"
              >
                <span class="text-lg sm:text-xl"> Rp.</span
                >{{ budgetSummary[3]?.value }}
              </div>
              <div class="text-xs sm:text-sm font-semibold font-manrope">
                {{ budgetSummary[3]?.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grow p-1 w-full md:w-1/3 xl:w-5/12">
        <div
          class="h-full flex justify-center flex-wrap bg-white px-4 py-3 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
        >
          <div
            class="flex flex-col justify-start px-3 w-full flex-wrap items-start"
          >
            <h1
              class="text-base w-fit font-quicksand font-[700] text-start h-fit"
            >
              Shipping By Destination
            </h1>
            <h1
              class="text-sm w-fit font-quicksand font-semibold h-fit text-start text-gray-500"
            >
              Kejayan
            </h1>
          </div>
          <div class="w-full">
            <apx-chart
              *ngIf="shippingChart"
              [series]="shippingChart?.series"
              [chart]="shippingChart?.chart"
              [dataLabels]="shippingChart?.dataLabels"
              [plotOptions]="shippingChart?.plotOptions"
              [colors]="shippingChart?.colors"
              [title]="shippingChart?.title"
              [xaxis]="shippingChart?.xaxis"
              [legend]="shippingChart?.legend"
              [yaxis]="shippingChart?.yaxis"
              [stroke]="shippingChart?.stroke"
            ></apx-chart>
          </div>
        </div>
      </div>
      <div class="grow p-1 w-full md:w-2/3 xl:w-7/12">
        <div
          class="h-full flex justify-center flex-wrap bg-white px-4 py-3 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
        >
          <!-- <div class="flex justify-between px-3 w-full flex-wrap items-center">
            <h1
              class="text-base w-fit font-manrope font-[700] text-start h-fit"
            >
              Warehouse Handling Load
            </h1>
          </div> -->
          <div class="w-full">
            <apx-chart
              *ngIf="multiLineChart"
              [series]="multiLineChart.series"
              [chart]="multiLineChart.chart"
              [xaxis]="multiLineChart.xaxis"
              [stroke]="multiLineChart.stroke"
              [colors]="multiLineChart.colors"
              [dataLabels]="multiLineChart.dataLabels"
              [legend]="multiLineChart.legend"
              [markers]="multiLineChart.markers"
              [grid]="multiLineChart.grid"
              [yaxis]="multiLineChart.yaxis"
              [title]="multiLineChart.title"
            ></apx-chart>
          </div>
        </div>
      </div>
      <div class="grow p-1 w-full md:w-1/3 xl:w-5/12">
        <div
          class="h-full flex justify-center flex-wrap bg-white px-4 py-3 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
        >
          <div
            class="flex flex-col justify-start px-3 w-full flex-wrap items-start"
          >
            <h1
              class="text-base w-fit font-quicksand font-[700] text-start h-fit"
            >
              Shipping By Destination
            </h1>
            <h1
              class="text-sm w-fit font-quicksand font-semibold h-fit text-start text-gray-500"
            >
              Sukabumi
            </h1>
          </div>

          <div class="w-full">
            <apx-chart
              *ngIf="shippingChart"
              [series]="shippingChart?.series2"
              [chart]="shippingChart?.chart"
              [dataLabels]="shippingChart?.dataLabels"
              [plotOptions]="shippingChart?.plotOptions"
              [colors]="shippingChart?.colors"
              [title]="shippingChart?.title"
              [xaxis]="shippingChart?.xaxis2"
              [legend]="shippingChart?.legend"
              [yaxis]="shippingChart?.yaxis"
              [stroke]="shippingChart?.stroke"
            ></apx-chart>
          </div>
        </div>
      </div>
      <div class="grow p-1 w-full md:w-2/3 xl:w-7/12">
        <div
          class="h-full flex justify-center flex-wrap bg-white px-4 py-3 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
        >
          <!-- <div class="flex justify-between px-3 w-full flex-wrap items-center">
            <h1
              class="text-base w-fit font-manrope font-[700] text-start h-fit"
            >
              Factory Overhead per Unit
            </h1>
          </div> -->
          <div class="w-full">
            <apx-chart
              *ngIf="multiLineChart"
              [series]="multiLineChart.series2"
              [chart]="multiLineChart.chart"
              [xaxis]="multiLineChart.xaxis"
              [stroke]="multiLineChart.stroke"
              [colors]="multiLineChart.colors"
              [dataLabels]="multiLineChart.dataLabels"
              [legend]="multiLineChart.legend"
              [markers]="multiLineChart.markers"
              [grid]="multiLineChart.grid"
              [yaxis]="multiLineChart.yaxis2"
              [title]="multiLineChart.title2"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="grow pr-1 pt-1 w-full xl:w-5/12 flex flex-wrap">
      <div class="grow p-1 w-full">
        <div
          class="h-full flex-wrap bg-white px-4 py-3 space-y-2 rounded-lg text-center relative drop-shadow-xl"
        >
          <div
            class="px-5 w-full flex flex-wrap justify-between items-center h-fit"
          >
            <h1 class="text-lg w-fit font-manrope font-[700] text-start h-fit">
              Budget vs Factory Overhead
            </h1>
            <h1
              class="text-sm w-fit font-quicksand font-semibold h-fit text-start text-gray-600"
            >
              Sukabumi
            </h1>
          </div>
          <div class="w-full">
            <apx-chart
              *ngIf="multiColumnChart"
              [series]="multiColumnChart.series"
              [chart]="multiColumnChart.chart"
              [dataLabels]="multiColumnChart.dataLabels"
              [plotOptions]="multiColumnChart.plotOptions"
              [yaxis]="multiColumnChart.yaxis"
              [legend]="multiColumnChart.legend"
              [fill]="multiColumnChart.fill"
              [title]="multiColumnChart.title"
              [colors]="multiColumnChart.colors2"
              [stroke]="multiColumnChart.stroke"
              [tooltip]="multiColumnChart.tooltip"
              [xaxis]="multiColumnChart.xaxis"
            ></apx-chart>
          </div>
        </div>
      </div>
      <div class="grow p-1 w-full">
        <div
          class="h-full flex justify-center flex-wrap bg-white px-4 py-3 space-y-2 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
        >
          <div
            class="px-5 w-full flex flex-wrap justify-between items-center h-fit"
          >
            <h1 class="text-lg w-fit font-manrope font-[700] text-start h-fit">
              Budget vs Factory Overhead
            </h1>
            <h1
              class="text-sm w-fit font-quicksand font-semibold h-fit text-start text-gray-600"
            >
              Kejayan
            </h1>
          </div>
          <div class="w-full">
            <apx-chart
              *ngIf="multiColumnChart"
              [series]="multiColumnChart.series2"
              [chart]="multiColumnChart.chart"
              [dataLabels]="multiColumnChart.dataLabels"
              [plotOptions]="multiColumnChart.plotOptions"
              [yaxis]="multiColumnChart.yaxis"
              [legend]="multiColumnChart.legend"
              [fill]="multiColumnChart.fill"
              [title]="multiColumnChart.title"
              [colors]="multiColumnChart.colors"
              [stroke]="multiColumnChart.stroke"
              [tooltip]="multiColumnChart.tooltip"
              [xaxis]="multiColumnChart.xaxis"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="grow p-1 w-full md:w-1/2 xl:w-4/12">
      <div
        class="h-full flex justify-start flex-wrap bg-white px-4 py-3 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div class="px-5 w-full flex flex-wrap items-center">
          <h1
            class="px-2 text-lg w-fit font-quicksand font-semibold text-start h-fit"
          >
            Temperature
          </h1>
          <h1
            class="text-sm w-fit font-quicksand font-semibold h-fit text-start text-gray-500"
          >
            Storage Pocari
          </h1>
        </div>
        <div id="chart" class="w-full"></div>
      </div>
    </div> -->
  </div>
</div>
