<div class="py-12 md:py-0 my-5 md:pl-[4.5rem] w-full">
  <div class="flex flex-wrap mx-auto">
    <div class="p-2 w-full">
      <div
        class="h-fit flex justify-center flex-wrap bg-white px-8 py-4 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <h1 class="font-coolvetica font-[500] text-3xl">Trucking</h1>
      </div>
    </div>
    <div class="grow p-2 lg:w-5/12">
      <div
        class="h-full flex justify-center flex-wrap bg-white px-5 py-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div id="chart" class="w-full">
          <apx-chart
            [series]="trackingFromChart.series"
            [chart]="trackingFromChart.chart"
            [dataLabels]="trackingFromChart.dataLabels"
            [plotOptions]="trackingFromChart.plotOptions"
            [xaxis]="trackingFromChart.xaxis"
            [yaxis]="trackingFromChart.yaxis"
            [stroke]="trackingFromChart.stroke"
            [responsive]="trackingFromChart.responsive"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="max-lg:grow p-2 w-full">
      <div
        class="h-full bg-white px-8 py-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <h1 class="font-coolvetica font-[500] text-xl py-2">
          Kejayan Trucking Info
        </h1>
        <div class="flex items-center justify-center mb-3 w-full">
          <div
            class="inline-flex shadow-md hover:shadow-lg focus:shadow-lg"
            role="group"
          >
            <button
              appDetectFocus
              on-focus="onFocus()"
              on-focusout="onFocusout()"
              type="button"
              class="rounded-l inline-block px-2 min-[600px]:px-6 py-2.5 bg-biru text-white font-medium text-[10px] min-[600px]:text-xs leading-tight uppercase hover:bg-biru2 focus:bg-biru2 focus:outline-none focus:ring-0 active:bg-biru2 transition duration-150 ease-in-out"
            >
              Container
            </button>
            <button
              appDetectFocus
              on-focus="wingboxFocused()"
              on-focusout="wingboxFocusout()"
              type="button"
              class="inline-block px-2 min-[600px]:px-6 py-2.5 bg-biru text-white font-medium text-[10px] min-[600px]:text-xs leading-tight uppercase hover:bg-biru2 focus:bg-biru2 focus:outline-none focus:ring-0 active:bg-biru2 transition duration-150 ease-in-out"
            >
              Wingbox
            </button>
            <button
              type="button"
              class="inline-block px-2 min-[600px]:px-6 py-2.5 bg-biru text-white font-medium text-[10px] min-[600px]:text-xs leading-tight uppercase hover:bg-biru2 focus:bg-biru2 focus:outline-none focus:ring-0 active:bg-biru2 transition duration-150 ease-in-out"
            >
              Tronton
            </button>
            <button
              type="button"
              class="inline-block px-2 min-[600px]:px-6 py-2.5 bg-biru text-white font-medium text-[10px] min-[600px]:text-xs leading-tight uppercase hover:bg-biru2 focus:bg-biru2 focus:outline-none focus:ring-0 active:bg-biru2 transition duration-150 ease-in-out"
            >
              Fuso
            </button>
            <button
              type="button"
              class="rounded-r inline-block px-2 min-[600px]:px-6 py-2.5 bg-biru text-white font-medium text-[10px] min-[600px]:text-xs leading-tight uppercase hover:bg-biru2 focus:bg-biru2 focus:outline-none focus:ring-0 active:bg-biru2 transition duration-150 ease-in-out"
            >
              Colt Diesel
            </button>
          </div>
        </div>
        <div
          [@ZoomInAnimation]
          *ngIf="focusButton"
          class="relative overflow-x-auto rounded-lg shadow-md"
        >
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-800 font-medium"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-200 dark:text-gray-900"
            >
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Mobil</th>
                <th scope="col" class="px-3 py-2 text-center">Destination</th>
                <th scope="col" class="px-3 py-2 text-center">No Urut</th>
                <th scope="col" class="px-3 py-2 text-center">No Kendaraan</th>
                <th scope="col" class="px-3 py-2 text-center">No Container</th>
                <th scope="col" class="px-3 py-2 text-center">Jam Masuk</th>
                <th scope="col" class="px-3 py-2 text-center">Jam Keluar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white dark:border-gray-700">
                <td class="px-3 py-2 text-center">Sokrosa FS</td>
                <td class="px-3 py-2 text-center">Mutiara Hati Bojonegoro</td>
                <td class="px-3 py-2 text-center">1</td>
                <td class="px-3 py-2 text-center">N 9873</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="bg-white dark:border-gray-700">
                <td class="px-3 py-2 text-center">Sokrosa FS</td>
                <td class="px-3 py-2 text-center">
                  Bahagia Intra Niaga Pasuruan
                </td>
                <td class="px-3 py-2 text-center">2</td>
                <td class="px-3 py-2 text-center">N 1083</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          [@ZoomInAnimation]
          *ngIf="wingboxFocus"
          class="relative overflow-x-auto rounded-lg shadow-md"
        >
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-800 font-medium"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-200 dark:text-gray-900"
            >
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Mobil</th>
                <th scope="col" class="px-3 py-2 text-center">Destination</th>
                <th scope="col" class="px-3 py-2 text-center">No Urut</th>
                <th scope="col" class="px-3 py-2 text-center">No Kendaraan</th>
                <th scope="col" class="px-3 py-2 text-center">No Container</th>
                <th scope="col" class="px-3 py-2 text-center">Jam Masuk</th>
                <th scope="col" class="px-3 py-2 text-center">Jam Keluar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white dark:border-gray-700">
                <td class="px-3 py-2 text-center">Sokrosa</td>
                <td class="px-3 py-2 text-center">Mutiara Hati Bojonegoro</td>
                <td class="px-3 py-2 text-center">1</td>
                <td class="px-3 py-2 text-center">N 9873</td>
              </tr>
            </tbody>
            <tbody>
              <tr class="bg-white dark:border-gray-700">
                <td class="px-3 py-2 text-center">Sokrosa</td>
                <td class="px-3 py-2 text-center">
                  Bahagia Intra Niaga Malang
                </td>
                <td class="px-3 py-2 text-center">2</td>
                <td class="px-3 py-2 text-center">N 1083</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <div class="max-lg:grow p-2 lg:w-7/12">
          <div
            class="h-full bg-white px-8 pt-10 pb-10 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
          >
            <div id="chart">
              <apx-chart
                [series]="columnChart.series"
                [chart]="columnChart.chart"
                [dataLabels]="columnChart.dataLabels"
                [plotOptions]="columnChart.plotOptions"
                [yaxis]="columnChart.yaxis"
                [xaxis]="columnChart.xaxis"
                [fill]="columnChart.fill"
                [title]="columnChart.title"
              ></apx-chart>
            </div>
          </div>
        </div> -->
    <!-- <div class="p-4 lg:w-1/3">
            <div
              class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative"
            ></div>
          </div> -->
  </div>
</div>
