<aside class="flex items-stretch h-screen px-1">
  <div
    class="flex flex-col self-center items-center shadow-xl fixed z-30 rounded-xl w-16 h-fit py-8 overflow-y-auto bg-white border-r rtl:border-l rtl:border-r-0 dark:bg-white dark:border-gray-100"
  >
    <nav class="flex flex-col flex-1 space-y-6">
      <a
        class="flex justify-center"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
      >
        <img
          class="w-auto h-6"
          src="https://merakiui.com/images/logo.svg"
          alt=""
        />
      </a>

      <a
        (mouseover)="overHome()"
        (mouseleave)="leaveHome()"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        class="p-1.5 flex flex-wrap text-gray-700 focus:outline-nones transition-colors duration-200 rounded-lg dark:text-gray-900 dark:hover:bg-gray-100 hover:bg-gray-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="black"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
          />
        </svg>
        <div
          [@ZoomInOutAnimation]
          *ngIf="tooltipHome"
          class="fixed z-50 inline-block left-16 px-3 py-1 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm dark:bg-gray-700"
        >
          Home Page
        </div>
      </a>

      <a
        (mouseover)="overDropdown()"
        (mouseleave)="leaveDropdown()"
        (click)="clickDropdown()"
        class="p-1.5 flex flex-wrap text-gray-700 focus:outline-nones transition-colors duration-200 rounded-lg dark:text-gray-900 dark:hover:bg-gray-100 hover:bg-gray-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="Black"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 12h16.5m-16.5 3.75h16.5M3.75 19.5h16.5M5.625 4.5h12.75a1.875 1.875 0 010 3.75H5.625a1.875 1.875 0 010-3.75z"
          />
        </svg>
        <div
          [@ZoomInOutAnimation]
          *ngIf="tooltipDropdown"
          class="fixed z-50 inline-block px-3 left-16 py-1 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm dark:bg-gray-700"
        >
          Menu List
        </div>
      </a>

      <a
        [routerLink]="['/temp']"
        routerLinkActive="router-link-active"
        (mouseover)="overLink()"
        (mouseleave)="leaveLink()"
        class="p-1.5 flex flex-wrap text-gray-700 focus:outline-nones transition-colors duration-200 rounded-lg dark:text-gray-900 dark:hover:bg-gray-100 hover:bg-gray-100"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
          <path
            d="M12.55 10.75v-1.5h4.9v1.5Zm0-3.875v-1.5h7.9v1.5ZM8.075 20.5q-1.875 0-3.187-1.312Q3.575 17.875 3.575 16q0-1.125.525-2.1.525-.975 1.475-1.625V6q0-1.05.725-1.775.725-.725 1.775-.725 1.05 0 1.775.725.725.725.725 1.775v6.275q.95.65 1.475 1.625.525.975.525 2.1 0 1.85-1.325 3.175Q9.925 20.5 8.075 20.5Zm-3-4.5h6q0-.725-.35-1.387-.35-.663-1.025-1.138L9.075 13V6q0-.425-.287-.713Q8.5 5 8.075 5t-.712.287q-.288.288-.288.713v7l-.625.475q-.65.475-1.012 1.138-.363.662-.363 1.387Z"
          />
        </svg>
        <div
          [@ZoomInOutAnimation]
          *ngIf="tooltipLink"
          class="fixed w-fit z-50 inline-block left-16 px-3 py-1 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm dark:bg-gray-700"
        >
          Thermo
        </div>
      </a>
    </nav>
  </div>
  <div
    [@ZoomInOutAnimation]
    *ngIf="dropdown"
    class="fixed h-fit self-center px-5 mx-[70px] z-40 py-5 overflow-y-auto rounded-xl bg-white border-l border-r sm:w-46 w-60 dark:bg-white dark:border-gray-200"
  >
    <nav class="mt-1 -mx-3 space-y-6">
      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-900"
          >Warehouse</label
        >

        <a
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
          [routerLink]="['/warehouse/occupancy']"
          routerLinkActive="router-link-active"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m8.25 3v6.75m0 0l-3-3m3 3l3-3M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z"
            />
          </svg>

          <span class="mx-2 text-xs font-medium">Warehouse Occupany</span>
        </a>

        <a
          [routerLink]="['/inven-accuracy']"
          routerLinkActive="router-link-active"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <g><rect fill="none" height="24" width="24" /></g>
            <g>
              <path
                d="M14.5,2.5c0,1.5-1.5,6-1.5,6h-2c0,0-1.5-4.5-1.5-6C9.5,1.12,10.62,0,12,0S14.5,1.12,14.5,2.5z M12,10c-1.1,0-2,0.9-2,2 s0.9,2,2,2s2-0.9,2-2S13.1,10,12,10z M16.08,5.11c0.18-0.75,0.33-1.47,0.39-2.06C19.75,4.69,22,8.08,22,12c0,5.52-4.48,10-10,10 S2,17.52,2,12c0-3.92,2.25-7.31,5.53-8.95C7.6,3.64,7.74,4.37,7.92,5.11C5.58,6.51,4,9.07,4,12c0,4.42,3.58,8,8,8s8-3.58,8-8 C20,9.07,18.42,6.51,16.08,5.11z M18,12c0,3.31-2.69,6-6,6s-6-2.69-6-6c0-2,0.98-3.77,2.48-4.86c0.23,0.81,0.65,2.07,0.65,2.07 C8.43,9.93,8,10.92,8,12c0,2.21,1.79,4,4,4s4-1.79,4-4c0-1.08-0.43-2.07-1.13-2.79c0,0,0.41-1.22,0.65-2.07C17.02,8.23,18,10,18,12 z"
              />
            </g>
          </svg>

          <span class="mx-2 text-xs font-medium">Inventory Accuracy</span>
        </a>
      </div>

      <div class="space-y-3">
        <label class="px-3 text-xs text-gray-500 uppercase dark:text-gray-900"
          >Kejayan Vs Sukabumi</label
        >

        <a
          [routerLink]="['/trucking/kejayan']"
          routerLinkActive="router-link-active"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
            <path
              d="M5.9 19.4q-1.15 0-1.95-.8t-.8-1.95h-1.6V6.375q0-.7.488-1.2.487-.5 1.212-.5h13.425V8.4h2.55l3.25 4.325v3.925h-1.75q0 1.15-.812 1.95-.813.8-1.938.8-1.15 0-1.95-.8t-.8-1.95H8.65q0 1.15-.812 1.95-.813.8-1.938.8Zm0-1.4q.55 0 .95-.4.4-.4.4-.95 0-.575-.4-.962-.4-.388-.95-.388-.575 0-.962.388-.388.387-.388.962 0 .55.388.95.387.4.962.4Zm-2.95-2.75h.7q.3-.575.9-.95.6-.375 1.35-.375.725 0 1.338.375.612.375.912.95h7.125V6.075H3.25q-.125 0-.212.1-.088.1-.088.225ZM17.975 18q.55 0 .95-.4.4-.4.4-.95 0-.575-.4-.962-.4-.388-.95-.388-.575 0-.962.388-.388.387-.388.962 0 .55.388.95.387.4.962.4Zm-1.3-4.7h4.475L18.5 9.8h-1.825ZM9.1 10.675Z"
            />
          </svg>

          <span class="mx-2 text-xs font-medium">Trucking</span>
        </a>
        <a
          [routerLink]="['/delivery-destination/kejayan']"
          routerLinkActive="router-link-active"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
            <path
              d="M9.95 10.125 12 9.1l2.05 1.025v-5.05h-4.1ZM7.05 16.7v-1.4h4.9v1.4Zm-1.675 3.625q-.7 0-1.2-.5t-.5-1.2V5.375q0-.7.5-1.2t1.2-.5h13.25q.7 0 1.2.5t.5 1.2v13.25q0 .7-.5 1.2t-1.2.5Zm-.3-15.25V18.925 5.075Zm.325 13.85h13.2q.125 0 .225-.1t.1-.225V5.4q0-.125-.1-.225t-.225-.1h-3.15V12.4L12 10.675 8.55 12.4V5.075H5.4q-.125 0-.225.1t-.1.225v13.2q0 .125.1.225t.225.1Z"
            />
          </svg>

          <span class="mx-2 text-xs font-medium">Delivery Destination</span>
        </a>
        <a
          [routerLink]="['/damages-product']"
          routerLinkActive="router-link-active"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
            <path
              d="M3.5 19.7V8.775q-.4-.2-.7-.613-.3-.412-.3-.962V4.8q0-.75.525-1.275Q3.55 3 4.3 3h15.4q.75 0 1.275.525.525.525.525 1.275v2.4q0 .55-.3.962-.3.413-.7.613V19.7q0 .75-.525 1.275-.525.525-1.275.525H5.3q-.75 0-1.275-.525Q3.5 20.45 3.5 19.7ZM5 9v10.7q0 .125.088.213.087.087.212.087h13.4q.125 0 .213-.087.087-.088.087-.213V9Zm14.7-1.5q.125 0 .213-.088Q20 7.325 20 7.2V4.8q0-.125-.087-.213-.088-.087-.213-.087H4.3q-.125 0-.212.087Q4 4.675 4 4.8v2.4q0 .125.088.212.087.088.212.088ZM9.2 13.7h5.6v-1.5H9.2ZM5 20V9 20Z"
            />
          </svg>

          <span class="mx-2 text-xs font-medium">Damages Product</span>
        </a>
        <a
          [routerLink]="['/perfect-order-rate']"
          routerLinkActive="router-link-active"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
            <path
              d="m17.325 20.05 3.15-3.125-.825-.85-2.325 2.275-.975-.975-.825.85ZM6.375 8.875h11.25v-1.5H6.375ZM18 22.55q-1.875 0-3.188-1.312Q13.5 19.925 13.5 18.05q0-1.875 1.312-3.187Q16.125 13.55 18 13.55q1.875 0 3.188 1.313Q22.5 16.175 22.5 18.05q0 1.875-1.312 3.188Q19.875 22.55 18 22.55ZM3.5 21.375V5.3q0-.75.525-1.275Q4.55 3.5 5.3 3.5h13.4q.75 0 1.275.525.525.525.525 1.275v6.325q-.35-.175-.725-.275-.375-.1-.775-.15V5.3q0-.1-.1-.2t-.2-.1H5.3q-.1 0-.2.1t-.1.2v13.75h6.2q.1.6.288 1.138.187.537.487 1.037l-.075.1-1.325-1.175-1.425 1.225-1.425-1.225L6.3 21.375 4.875 20.15Zm2.875-4.75h4.9q.075-.4.188-.762.112-.363.287-.738H6.375Zm0-3.875H13.6q.7-.65 1.613-1.05.912-.4 1.962-.45h-10.8ZM5 19.05V5 19.05Z"
            />
          </svg>

          <span class="mx-2 text-xs font-medium">Perfect Order Rate</span>
        </a>
        <a
          [routerLink]="['/kejayan-Sukabumo-avg-handling-load']"
          routerLinkActive="router-link-active"
          class="flex items-center px-3 py-2 text-gray-600 transition-colors duration-300 transform rounded-lg dark:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 dark:hover:text-gray-200 hover:text-gray-700"
        >
          <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
            <path
              d="M12 11.125q1.625 0 2.738-1.225Q15.85 8.675 15.85 7V4h-7.7v3q0 1.675 1.112 2.9 1.113 1.225 2.738 1.225ZM4.6 21.5V20h2.05v-3q0-1.625.838-3 .837-1.375 2.287-2-1.45-.625-2.287-2-.838-1.375-.838-3V4H4.6V2.5h14.8V4h-2.05v3q0 1.625-.837 3-.838 1.375-2.288 2 1.45.625 2.288 2 .837 1.375.837 3v3h2.05v1.5Z"
            />
          </svg>

          <span class="mx-2 text-xs font-medium w-fit">AVG Handling Load</span>
        </a>
      </div>
    </nav>
  </div>
</aside>
