<ngx-spinner
  color="white"
  type="square-jelly-box"
  [fullScreen]="true"
  size="medium"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="py-10 md:py-0 my-2 md:pl-[4.5rem] w-full font-manrope font-medium">
  <div class="flex flex-wrap mx-auto">
    <div class="px-2 w-full space-y-3">
      <!-- HEAD TITLE -->
      <div
        class="h-fit flex justify-between flex-wrap bg-white px-8 py-2 text-center rounded-lg overflow-hidden relative drop-shadow-xl"
      >
        <span class="flex items-center justify-start w-1/3">
          <h1 class="font-quicksand font-semibold text-lg text-sky-900"></h1>
        </span>

        <h1 class="font-manrope font-[700] text-3xl w-1/3">
          Input Budget Factory
        </h1>
        <span class="flex items-center justify-end w-1/3">
          <h1 class="font-quicksand font-semibold text-lg text-sky-900"></h1
        ></span>
      </div>
    </div>
  </div>
</div>

<div class="py-10 md:py-0 my-2 mt-3 md:pl-[4.5rem] grid grid-cols-2 gap-y-3">
  <app-tbl-budget-kjy></app-tbl-budget-kjy>
  <app-tbl-budget-skb></app-tbl-budget-skb>
  <app-tbl-shipping-kjy></app-tbl-shipping-kjy>
  <app-tbl-shipping-skb></app-tbl-shipping-skb>
  <app-tbl-warehouse-handling></app-tbl-warehouse-handling>
  <app-tbl-factory-overhead></app-tbl-factory-overhead>
  <app-tbl-budget-summary></app-tbl-budget-summary>
</div>

