<div class="py-10 md:py-0 my-2 md:pl-[4.5rem] w-full">
  <div class="flex flex-wrap mx-auto">
    <div class="px-2 w-full">
      <div
        class="h-fit flex justify-between flex-wrap bg-white px-8 py-2 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <span class="flex items-center">
          <h1 class="font-quicksand font-semibold text-md"></h1
        ></span>
        <h1 class="font-manrope font-[700] text-3xl">Average Handling Load</h1>
        <span class="flex items-center">
          <h1 class="font-quicksand font-semibold text-md"></h1
        ></span>
      </div>
    </div>
    <div class="grow p-2 lg:w-6/12">
      <div
        class="h-full flex justify-center flex-wrap bg-white px-5 py-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div id="chart" class="w-full">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels"
            [grid]="chartOptions.grid"
            [stroke]="chartOptions.stroke"
            [title]="chartOptions.titleKejayan"
            [markers]="chartOptions.markers"
            [yaxis]="chartOptions.yaxis"
            [fill]="chartOptions.fill"
          ></apx-chart>
        </div>
      </div>
    </div>
    <!-- <div class="grow p-2 lg:w-6/12">
      <div
        class="h-full flex justify-center flex-wrap bg-white px-5 py-5 rounded-lg overflow-hidden text-center relative drop-shadow-xl"
      >
        <div id="chart" class="w-full">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [dataLabels]="chartOptions.dataLabels"
            [grid]="chartOptions.grid"
            [stroke]="chartOptions.stroke"
            [title]="chartOptions.titleSukabumi"
            [markers]="chartOptions.markers"
            [yaxis]="chartOptions.yaxis"
            [fill]="chartOptions.fill"
          ></apx-chart>
        </div>
      </div>
    </div> -->
  </div>
</div>
