/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./assets/fonts/manrope/manrope.css");
@import url("./assets/fonts/alkatra/alkatra.css");
@import url("./assets/fonts/font.css");
@import url("./assets/fonts/quicksand/quicksand.css");

/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");*/
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@200;300;400;500;600;700;800&display=swap"); */
body {
  background: linear-gradient(-45deg, #efe2a1, #a6d5e7, #a9ead9);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
