<div class="py-12 md:py-0 my-5 mx-2 md:pl-[4.5rem] w-full">
  <div class="flex flex-wrap mx-auto">
    <!-- <div class="grow p-2 lg:w-5/12">
      
    </div> -->
    <div class="grow p-0 lg:w-full">
      <div
        class="bg-gray-100 bg-opacity-100 md:p-8 rounded-lg overflow-hidden text-center relative"
      >
        <div
          class="p-12 text-center relative overflow-hidden bg-no-repeat bg-cover"
          style="background-image: url('assets/container.jpg'); height: 83vh"
        >
          <div
            class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed"
            style="background-color: rgba(0, 0, 0, 0.6)"
          >
            <div class="flex justify-center items-center h-full">
              <div class="text-white">
                <h2 class="font-bold text-3xl md:text-6xl font-alkatra mb-4">
                  LOGISTIK DASHBOARD
                </h2>
                <h4 class="font-medium text-sm md:text-xl mb-6 font-quicksand">
                  Reporting page of AIO Logistik Department
                </h4>
                <a
                  [routerLink]="['/warehouse/occupancy']"
                  routerLinkActive="router-link-active"
                  class="inline-block px-7 py-3 mb-1 border-2 border-gray-200 text-gray-200 font-medium text-sm leading-snug uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                  role="button"
                  data-mdb-ripple="true"
                  data-mdb-ripple-color="light"
                  >Start</a
                >
              </div>
            </div>
          </div>
        </div>
        <a [routerLink]="['/documentations']" routerLinkActive="router-link-active"  class="fixed bg-slate-300 rounded-md p-5 opacity-20 text-white"> Docs </a>
      </div>
    </div>
  </div>
</div>
