<div class="py-12 md:py-0 my-2 md:pl-[4.5rem] w-full">
  <div class="flex flex-wrap mx-auto space-y-3">
    <div class="px-2 w-full">
      <div
        class="h-fit flex justify-between flex-wrap bg-white px-8 py-2 text-center rounded-lg overflow-hidden relative drop-shadow-xl"
      >
        <span class="flex items-center">
          <!-- <h1 class="font-quicksand font-semibold text-lg">
            Home / Temperature
          </h1> -->
        </span>

        <h1 class="font-manrope font-[700] text-2xl">Documentations</h1>
        <span class="flex items-center">
          <!-- <h1 class="font-quicksand font-semibold text-lg">
            {{ time | date : "hh:mm:ss a  |  d-MM-YYYY" }}
          </h1> -->
        </span>
      </div>
    </div>
    <div class="px-2 w-full">
      <div
        class="h-[90vh] flex flex-wrap bg-white px-4 py-2 text-center rounded-lg overflow-hidden relative drop-shadow-xl"
      >
        <div class="w-full flex justify-center h-fit">
          <table
            class="w-3/4 text-sm text-left text-gray-500 dark:text-gray-800 font-medium font-quicksand"
          >
            <thead class="text-base text-gray-900 uppercase bg-gray-200">
              <tr>
                <th scope="col" class="px-3 py-2 text-center">Fitur</th>
                <th scope="col" class="px-3 py-2 text-center">HTTP Method</th>
                <th scope="col" class="px-3 py-2 text-center w-1/2">
                  Location
                </th>
              </tr>
            </thead>
            <tbody class="text-sm bg-white font-semibold">
              <tr>
                <td class="px-3 py-2 text-center">Trucking Charts</td>
                <td class="px-3 py-2 text-center">GET</td>
                <td class="px-3 py-2 text-center">
                  src/app/fleet-distribution/fleet-distribution.js
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
